:root {
    --main-color: #4BA87D;
}

* {
    box-sizing: border-box;
}

/* module */
.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 60px;
    line-height: 70px;

    @media screen and (max-width: 768px) {
        font-size: 38px;
        line-height: 46px;
    }
}

h2 {
    font-size: 44px;
    line-height: 48px;

    @media screen and (max-width: 768px) {
        font-size: 28px;
        line-height: 36px;
    }
}

p,
a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 26px;
    color: #000;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
    }
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 21px;
    letter-spacing: 1.05px;
    border: 0;
    /*  */
    width: 200px;
    height: 65px;

    @media screen and (max-width: 768px) {
        font-size: 13px;
        width: 130px;
        height: 42px;
    }
}

.green-btn {
    color: #fff;
    background-color: var(--main-color);
}

.white-btn {
    color: var(--main-color);
    background-color: #fff;
}

/* -------------------------------------------- */

/* ----nav bar---- */
.main-navbar {

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 10px;
    }

    .green-line {
        width: 110px;
        height: 5px;
        background: var(--main-color);
    }

    a {
        display: block;
        padding: 4px 16px;
        font-size: 17px;
        font-weight: 800;
        text-decoration: none;
    }

    .sign-up {
        width: 168px;
        height: 40px;
        background-color: var(--main-color);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .main-navbar {
        img {
            height: 30px;
        }

        li {
            margin-inline: 5px;
        }

        .green-line {
            width: 70px;
            height: 3px;
        }

        a {
            display: block;
            padding: 0 8px;
            font-size: 11px;
            font-weight: 800;
            text-decoration: none;
        }

        .sign-up {
            width: 110px;
            height: 25px;
        }
    }

}

@media screen and (max-width: 576px) {
    .main-navbar {
        .nav {
            display: none;
        }
    }
}

/* ----main heading---- */
.main-heading-sec {
    padding-block: 150px;
    background: url(images/bg1.png) no-repeat;
    background-size: cover;

    .container{
        max-width: 1180px;
    }

    button{
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 21px;
        letter-spacing: 1.05px;
        border: 0;
        @media screen and (max-width: 768px) {
            font-size: 13px;
        }
    }

    .white-btn {
        border: 3px solid var(--main-color);
    }

    .img-box {
        box-shadow: 0 0 15px rgba(193, 193, 193, 0.553);
        position: absolute 
    }

}

@media screen and (max-width: 768px) {
    .main-heading-sec {
        .container{
            max-width: 700px;
        }
    }
}

@media screen and (max-width: 576px) {
    .main-heading-sec {
        padding-top: 70px;
        padding-bottom: 50px;

        h1{
            position: absolute;
        }

        .img-box {
            position: relative;
            translate: 0 20%;
        }

        .text-sec{
            translate: 0 50%;
        }
    }
}

/* ----main content---- */

.main-content {
    background: url(images/bg.png) no-repeat;
    background-size: cover;
}

/* -reach more customer- */
.reach-more-customers {
    padding-top: 180px;

    h1 {
        color: #fff;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .reach-more-customers {
        display: flex;
        justify-content: center;

        .customers-img-box {
            width: 85%;
        }
    }
}

@media screen and (max-width: 768px) {
    .reach-more-customers {
        padding-top: 100px;
    }
}

@media screen and (max-width: 576px) {
    .reach-more-customers {
        padding-top: 60px;

        h1 {
            font-size: 22px;
        }

        button {
            font-size: 6px;
            width: 65px;
            height: 21px;
        }
    }
}

/* -card-section- */

.card-section {
    margin-top: 80px;
    max-width: 1140px;
}

.card {
    border: 0;
    border-radius: 0;
    max-width: 320px;

    p,
    a {
        font-size: 16px;
        line-height: 26px;
    }

    a {
        font-weight: 800;
        color: var(--main-color);
    }
}

.sec-title {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .card {

        p,
        a {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

@media screen and (max-width: 576px) {
    .card2 {
        display: flex;
        justify-content: end;
    }

    .sec-title {
        padding-top: 0px;
        padding-inline: 50px;
    }
}

/* -learn-section- */

.learn-section {
    margin-top: 100px;

    figure {
        position: relative;
        overflow: hidden;
    }

    .camile {
        scale: 1.8;
        object-position: 30px -10px;
    }

    .elayne {
        scale: 1.4;
        object-position: 5px -10px;
    }

    .cover-box {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0));
        opacity: .3;
    }

    .img-title {
        position: absolute;
        left: 0;
        bottom: 0;

        h4 {
            font-family: "Raleway", sans-serif;
            font-size: 34px;
            color: #fff;
        }

        p {
            /* font-size: 19px; */
            font-weight: 700;
            color: #fff;
            white-space: nowrap;
        }
    }

    .enter-email {
        h2 {
            max-width: 900px;
        }
    }

    .email-form {
        min-width: 75%;

        p {
            font-size: 21px;
            color: var(--main-color);
        }
    }

    input {
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) {
    .learn-section {
        .img-title h4 {
            font-size: 22px;
        }

        .email-form p {
            font-size: 13px;
        }

        input {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 576px) {
    .learn-section {
        figure {
            max-width: 400px;
        }

        .email-form p {
            margin-inline: auto;
        }
    }
}

/* -brands-section- */

.brands-section {
    padding-block: 100px;

    img {
        max-width: 100%;
    }
}

/* ----get-started-sec---- */
.get-started-sec {
    background: var(--main-color);

    h1 {
        color: #fff;
    }
}

/* ----footer---- */

.upper-footer {
    border-bottom: 2px solid rgba(219, 219, 219, 1);
}

.lower-footer p {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .lower-footer p {
        font-size: 9px;
    }
}